<h1>
  Debugging checklist
</h1>
<ul>
  <li>
    What project are you working on?
  </li>
  <li>
    What action are you taking? (visiting <span style="color: white; background-color: #666;">/rock </span>
  )</li>
  <del>
    <li>
      What have you tried so far?
    </li>
  </del>
  <li>
    What is the behavior that you’re expecting?
  </li>
  <li>
    What is the behavior that you’re experience instead?
  </li>
</ul>
